.container{
    text-align: center;
    margin-top: 24px;
    
}

table{
    margin: auto;

}

input{
    font-size: 35px;
    border: 5px solid black;
    border-radius: 20px;
}
button{
    font-size: 23px;
    background:lightcyan;
    width: 108px;
    height: 71px;
    border-radius: 25px;
    border: solid ;
}

.calculator{
    display: inline-block;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    padding: 23px;
    border-radius: 30px;
    border: 5px solid;
    
}
h1{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}
